@model FirstCore_webapp.Models.Employees

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3 my-3 border">
    <h1> @ViewBag.PageName</h1>

    <div class="row">
        <div class="col-sm-6">
            <hr />
            <form asp-action="CreateorEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (@ViewBag.IsEdit==true)
                {
                    <input type="hidden" asp-for="EmployeeId" />
                }
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Designation" class="control-label"></label>
                    <input asp-for="Designation" class="form-control" />
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JoiningDate" class="control-label"></label>
                    <input asp-for="JoiningDate" class="form-control" />
                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    <a class="btn btn-danger" asp-action="#">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>


<p>
    <a asp-action="CreateorEdit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>
            <th></th>
            <th>Edit Action</th>           
            <th>Delete Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EmpList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoiningDate)
                </td>
                <td></td>
                <td class="text-center">
                    <a asp-action="CreateorEdit" class="btn btn-outline-primary" asp-route-employeeId="@item.EmployeeListId"><i class="bi bi-pencil-square"></i></a>
                </td>
                @*<td class="text-center">
                    <a asp-action="Details" class="btn btn-outline-info" asp-route-Id="@item.EmployeeListId">Details</a>
                </td>*@
                <td class="text-center">
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-Id="@item.EmployeeListId"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}